<!-- wp:heading -->
<h2>Prerequisities</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>I needed to patch Qt on Windows, so I had to leave my comfortable Tusooa's script development environment based on pre-built dependencies taken from the KDE Build Factory and make an actual proper Windows Krita development environment. Since I'm gonna need to make another one very soon and very quickly, I decided to write down my experiences before I forget it all.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>List of things to download and install (for details go to https://phabricator.kde.org/source/krita/browse/master/3rdparty/README.md, which is also a place I took versions information and some sentences from):</p>
<!-- /wp:paragraph -->

<!-- wp:list -->
<ul><li><strong>Git</strong> bash (to not lose my sanity)<ul><li>https://gitforwindows.org/</li></ul></li><li><strong>Mingw</strong> 7.3<ul><li>   https://sourceforge.net/projects/mingw-w64/ - files can be found under "Toolchains targetting Win64/Win32"/"Personal Builds". </li><li> For threading, select posix. </li><li> For exceptions, select seh (64-bit) or dwarf (32-bit). </li><li> Install mingw to something like C:\mingw; the full path must not contain any spaces. </li></ul></li><li><strong>Cmake</strong> &gt;3.3.2, but it can't be 3.9 (just take 3.10 instead)<ul><li> https://cmake.org/download/ </li></ul></li><li><strong>Python</strong> 3.6 (in time of writing, 3.6.8 is the newest) <ul><li>Do not set PYTHONHOME or PYTHONPATH. </li><li> https://www.python.org</li></ul></li><li> Windows 10 SDK (for Qt with ANGLE)<ul><li>https://developer.microsoft.com/pl-pl/windows/downloads/windows-10-sdk</li></ul></li></ul>
<!-- /wp:list -->

<!-- wp:paragraph -->
<p>I created a new directory: <em><strong>C:/qtdev</strong></em> (kritadev was taken). Inside I have two directories: <em><strong>krita</strong></em> and <em><strong>env-dev</strong></em>. I cloned Krita's code repository into <strong><em>krita</em></strong> directory:</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><code>git clone git@invent.kde.org:kde/krita.git krita</code> </p>
<!-- /wp:paragraph -->

<!-- wp:heading -->
<h2>Scripts</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>In <strong><em>env-dev</em></strong> I made a few scripts that helped me with build.cmd script without having to fight with cmd too much. This file is called <em><strong>env.bat</strong></em>:</p>
<!-- /wp:paragraph -->

<!-- wp:code -->
<pre class="wp-block-code"><code>set OLDPATH=%PATH%
set PATH=%PATH:C:\Perl64\bin\;=%
set PATH=%PATH:C:\Strawberry\c\bin;=%
set PATH=%PATH:C:\Strawberry\perl\site\bin;=%
set PATH=%PATH:C:\Strawberry\perl\bin;=%
set PATH=%PATH%;C:\mingw64\mingw64\bin;C:\%ProgramFiles%\Python36

set BUILDROOT=c:\qtdev\env-dev
set PATH=%BUILDROOT%\i\bin\;%BUILDROOT%\i\lib;%PATH%
set "WindowsSdkDir=%ProgramFiles(x86)%\Windows Kits\10"
set "WindowsSdkVerBinPath=%ProgramFiles(x86)%\Windows Kits\10\bin\10.0.18362.0"</code></pre>
<!-- /wp:code -->

<!-- wp:paragraph -->
<p>Next one is <strong><em>buildall.bat</em></strong>:</p>
<!-- /wp:paragraph -->

<!-- wp:code -->
<pre class="wp-block-code"><code>set MINGW_BIN_DIR=c:\mingw64\mingw64\bin\
..\krita\build-tools\windows\build.cmd  --no-interactive --download-dir .\d\ --deps-build-dir .\b_deps\ --deps-install-dir .\i\ --krita-build-dir .\b\ --krita-install-dir .\i\</code></pre>
<!-- /wp:code -->

<!-- wp:paragraph -->
<p>Then <strong><em>buildkrita.bat</em></strong>:</p>
<!-- /wp:paragraph -->

<!-- wp:code -->
<pre class="wp-block-code"><code>set MINGW_BIN_DIR=c:\mingw64\mingw64\bin\
..\krita\build-tools\windows\build.cmd --no-interactive --skip-deps --download-dir .\d\ --deps-build-dir .\b_deps\ --deps-install-dir .\i\ --krita-build-dir .\b\ --krita-install-dir .\i\</code></pre>
<!-- /wp:code -->

<!-- wp:paragraph -->
<p>Last one, <strong><em>justcmd.bat</em></strong>, actually untested yet in time of writing, but should be working just fine:</p>
<!-- /wp:paragraph -->

<!-- wp:code -->
<pre class="wp-block-code"><code>set MINGW_BIN_DIR=c:\mingw64\mingw64\bin\
..\krita\build-tools\windows\build.cmd --cmd --skip-deps --download-dir .\d\ --deps-build-dir .\b_deps\ --deps-install-dir .\i\ --krita-build-dir .\b\ --krita-install-dir .\i\</code></pre>
<!-- /wp:code -->

<!-- wp:paragraph -->
<p>Notes about all of those scripts:</p>
<!-- /wp:paragraph -->

<!-- wp:list -->
<ul><li><em><strong>env.bat</strong></em> <ul><li><strong>Usage:</strong> once for every new cmd.exe window, before any attempt in building Krita or dependencies.</li><li>It is just used to make sue I don't have anything misleading in my PATH (I installed Strawberry Perl, which of course installed a bunch of c++ compilers - and yes, this werid stuff actually does what I think it does and does remove those paths from PATH; if you want to adjust it to your needs, make sure earlier that t does remove everything you want it to remove! If you just use <em>set</em>, you won't break your system, so you can play with setting PATH how much you want) and to actually put there stuff that I didn't have in PATH before (Mingw and Python).</li><li>You need to adjust it to your needs, especially the Windows SDK version/location and unwanted paths.</li></ul></li><li><strong><em>buildall.bat</em></strong><ul><li><strong>Usage:</strong> it will download source code for all dependencies to download directory, put it in <strong><em>/b/ext_X/s/</em></strong> directories, then run cmake, make and make install on it. It will take a few hours. Also <strong>note</strong> that if you want to hack on Qt, it will replace your code and your git repository you made in  <strong><em>/b/ext_X/s/</em></strong>  with a clean version of Qt, so be careful to not lose your changes.</li><li>Options:<ul><li>--no-interactive - don't ask about anything</li><li>--download-dir - location to put .zip archives with dependencies source code</li><li>--deps-build-dir - directory to build dependencies in</li><li>--deps-install-dir - directory to install dependencies into - to make it easier, keep it the same as Krita's install directory!</li><li>--krita-build-dir -  directory to build Krita in </li><li>--krita-install-dir  - directory to install Krita into - later you'd need to go there and then ./bin/krita.exe will be your executable to run</li></ul></li></ul></li><li><strong><em>buildkrita.bat</em></strong><ul><li><strong>Usage:</strong> it will run cmake and then make and make install on just Krita.</li></ul></li><li><strong><em>justcmd.bat</em></strong>, my new baby, will run <strong><em>build.cmd</em></strong> in --cmd mode, which is a very hacky way get access to commands that make those scripts above practically obsolete.<ul><li><em>cmake-deps</em> - run cmake on dependencies (see warning in <em>buildall.bat</em> section!).</li><li><em>make-deps</em> - run make and make install on dependencies.</li><li><em>cmake-krita</em> - run cmake on Krita.</li><li><em>make-krita</em> - run make and make install on Krita.</li></ul></li></ul>
<!-- /wp:list -->

<!-- wp:heading -->
<h2>Ordered list of things to do</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p> To sum up, here is the list of things to do in order:</p>
<!-- /wp:paragraph -->

<!-- wp:list {"ordered":true} -->
<ol><li>Install all things on the list.</li><li>Clone Krita's repository.</li><li>Create directory <strong><em>c:/qtdev/env-dev/</em></strong> (the rest should be created by <em>build.cmd</em>).</li><li>Adjust <strong><em>env.bat</em></strong> to your needs. Save all scripts to <strong><em>c:/qtdev/env-dev/</em></strong>.</li><li>Open cmd.exe - unfortunately, since build.cmd script is in cmd, you can't escape it...</li><li>Go to <strong><em>c:/qtdev/env-dev/</em></strong>. Yes, that is important, very important. You want to run build.cmd script from inside your build directory and *not* from inside your source code directory. (Even if you were running build.cmd directly, without my script that clearly uses "./", the suggested paths would be in source code, and providing custom path is so tedious without a bash completion...)</li><li>Run <strong><em>env.bat</em></strong>. You only need to run it once per cmd.exe window.</li><li>If you didn't build anything yet, just run <strong><em>buildall.bat</em></strong>. It will take care of everything. Go for a walk, watch a movie, call your grandma - it will take some time...</li><li>For any subsequent build, just run <strong><em>justcmd.bat</em></strong> and later use command <strong><em>make-krita</em></strong> to build Krita.</li></ol>
<!-- /wp:list -->

<!-- wp:paragraph -->
<p>If you want to hack on Qt, there is some more things you'd want to remember:</p>
<!-- /wp:paragraph -->

<!-- wp:list {"ordered":true} -->
<ol><li>Just after you built Krita with Qt for the first time, but before changing the code, initialize a git repository in Qt's source code directory (it will be located in <strong><em>c:/qtdev/env-dev/b_deps/ext_qt/s/</em></strong>). It can take several minutes on NTFS, so don't get worried if it doesn't seem to be willing to end after a moment. Just be patient and go get a snack.</li><li><strong>DON'T</strong> run cmake on Qt. Or, be super careful about it. I just commented out the section that should download and extract the source files to make sure it doesn't do that.</li><li>Make extra sure you saved your patch outside of Qt's source code directory (outside of your new fresh git) when you want to finally introduce the Qt patch to Krita's ext_qt code. As I said, cmake will replace Qt with a clean version and later add your patch (that you of course already put in <em>ext_qt/CMakeList.txt</em> and <em>ext_qt/</em> directory, right?) on top of the Qt's source code.</li></ol>
<!-- /wp:list -->

<!-- wp:heading -->
<h2>Tests</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>In time of writing, if you want to have tests on Windows, you need to change <em>build.cmd</em> or call <em>make</em> directly. <em>Build.cmd</em> script has no option to turn those on.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>If you turn it on in build.cmd, those tests will be located in <strong><em>c:/qtdev/env-dev/b/bin/</em></strong> instead of respective folders like on Linux. Additional complication is that they often use some .dlls that are not there (since dependencies are built in b_deps). To fix that, I just copy the binary file from <strong><em>b/bin/</em></strong> to <em><strong>i/bin/</strong></em>. Below there is a handly script that does it for me (and ensures that the test is freshly built):</p>
<!-- /wp:paragraph -->

<!-- wp:code -->
<pre class="wp-block-code"><code>#!/bin/bash

NAME=$1
MAKELOC=$2

MAKE=/c/mingw64/mingw64/bin/mingw32-make.exe

if [ ! -z "$MAKELOC" ]
then
	CURR=`pwd`
	echo "Current dictionary: ${CURR}, changing to ${MAKELOC}..."
	cd ${MAKELOC}
	rc=$?; if [[ $rc != 0 ]]; then exit $rc; fi
	${MAKE} -j8 ${NAME}
	rc=$?; if [[ $rc != 0 ]]; then exit $rc; fi
	echo "${MAKE} ${NAME}"
	cd ${CURR}
	rc=$?; if [[ $rc != 0 ]]; then exit $rc; fi
fi

cp b/bin/${NAME} i/bin/
rc=$?; if [[ $rc != 0 ]]; then exit $rc; fi
i/bin/${NAME}
rc=$?; if [[ $rc != 0 ]]; then exit $rc; fi</code></pre>
<!-- /wp:code -->

<!-- wp:heading -->
<h2>Qt Creator</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p><em>(Before you start to set up Qt Creator, make sure you can build Krita from console).</em></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>First you need to create a new Kit. You need to set up at least <em>Compiler</em> (make sure the path is correct!), <em>Debugger</em>, <em>Qt version</em> and <em>CMake Tool</em>. In the Kit settings remove all the properties that are passed to cmake. Make sure <em>CMake Configuration</em> field is empty, and <em>CMake Generator</em> should point to <em>CodeBlocks-Mingw Makefiles</em>.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Then you can set up the project. Make sure the configuration points to "Release with Debug Information". Debug build is still broken: https://bugs.kde.org/show_bug.cgi?id=369303. Set up building directory to some random folder; configuration will fail, but that's ok, because then you'll get access to environment settings.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>In <em>Building Environment</em> make sure you make the same surgery on PATH as you do in your version of <em>env.bat</em> script. Add a new argument to <em>Building Steps</em>: <code>--j8</code> or <code>--j4</code> or something else, depending on how many cores you want to use to build Krita. You can add a custom step after that: <code>mingw32-make -j1 install/fast</code>. Make sure all Key/Value pairs are correct. Then there is this risky step: put <em><strong>C:\qtdev\env-dev\b</strong></em> as "Version Directory" or however it is called in English Qt Creator (the first textbox on top).</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Try to build Krita inside Qt Creator (do it only after you have all dependencies built). If it works, make sure you can still build Krita from console, too.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>Tip</strong>: if everything seems correct except Qt Creator complains about some FindECM and you have no idea where you should be looking for it, that means you wanted to cheat the system and put something else as building directory.</p>
<!-- /wp:paragraph -->